@font-face {
  font-family: "Pocket Calculator";
  src: url("POCKC___.eot?") format("eot"), url("POCKC___.woff") format("woff"), url("POCKC___.ttf") format("truetype"), url("POCKC___.svg#PocketCalculator") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.outer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.main {
  background-color: rgb(235, 235, 235);
  border-bottom: 20px solid #aaa;
  width: 500px;
  padding: 20px;
  border-radius: 10px;
}
app-button{
  flex: 1;
}
span {
  flex: 1;
  background-color:  rgb(184, 184, 184);
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 40px 5px 40px 5px;
  border-radius: 5px;
  font-size: larger;
  border-bottom: 10px solid rgb(99, 99, 99);
  cursor: pointer;
  transition-duration: 100ms;
}

span:hover {
  background-color: rgb(172, 172, 172);
  border-bottom: 8px solid rgb(99, 99, 99);
  margin-top: 12px;
}

#equals {
  background-color: #2196f3;
  color: #fff;
  border-bottom: 10px solid #197fd3;
}

#equals:hover {
  background-color: #4aabfa;
  border-bottom: 8px solid #197fd3;
  margin-top: 12px;
}

._row {
  width: 100%;
  margin-right: 0px !important;
  display: flex;
}

.screen {
  background-color: rgb(185, 185, 185);
  border-radius: 8px;
  height: 120px;
  width: 95%;
  margin: 10px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#output,#steps {
  margin: 0px;
  width: 100%;
  text-align: right;
  font-size: 70px;
  font-family: 'Pocket Calculator', Cochin, Georgia, Times, 'Times New Roman', serif;
  overflow: hidden;
  direction: ltr;
  overflow-anchor: left;
}
#steps{
  font-size: 25px;
  color: rgba(0, 0, 0, 0.459);
  direction: ltr;
}
