<div class="outer">
  <div id="gradient">
  </div>
  <div class="left">
    <div class="logo">
      <h3>
        Calculate together
      </h3>
    </div>
    <div class="list">
      <app-user-list-item [user]="user" *ngFor="let user of users"></app-user-list-item>
    </div>
  </div>
  <div class="right">
    <app-calculator *ngIf="loggedIn" style="height: 100%;width: 100%;"></app-calculator>
    <div class="card" *ngIf="!loggedIn">
      <h3>Welcome</h3>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">@</span>
        </div>
        <input [(ngModel)]="username" type="text" class="form-control" placeholder="Username" name="username">
      </div>
      <p *ngIf="invalid" style="color: rgb(255, 56, 115);">Please enter a valid username</p>
      <button (click)="login()" type="button" class="btn btn-success">Enter!</button>
    </div>
  </div>
</div>
