.outer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  background: #02AAB0;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00CDAC, #02AAB0);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00CDAC, #02AAB0);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.left {
  height: 100%;
  flex: 1;
  overflow: scroll;
  min-width: 400px;
  max-width: 450px;
  overflow-y: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

.left::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.right {
  height: 100%;
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 500px;
  height: 80px;
  position: fixed;
  padding: 20px;
  color: #00CDAC;
  border-bottom-right-radius: 40px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card {
  width: 500px;
  padding: 50px;
  border-radius: 10px;
}

.list {
  padding-top: 80px;
}

@media screen and (max-width:952px) {
  .outer {
    display: flex;
    flex-direction: column;
    flex-flow:column-reverse;
    width: 100%;
    height:fit-content;
  }

  .left {
    overflow: visible;
    width: 100vh!important;
    overflow-y: visible;
    scrollbar-width: initial;
    /* Firefox */
    -ms-overflow-style: initial;
    /* Internet Explorer 10+ */
  }

  .left::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
  }

  .right {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo {
    width: 100%;
    height: 80px;
    position: fixed;
    top:0px;
    z-index: 100;
    padding: 20px;
    color: #00CDAC;
    border-bottom-right-radius: 0px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}
