span {
  flex: 1;
  background-color: rgb(175, 175, 175);
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 40px 5px 40px 5px;
  border-radius: 5px;
  font-size: xx-large;
  border-bottom: 10px solid rgb(146, 146, 146);
  cursor: pointer;
  transition-duration: 100ms;
}

span:hover {
  background-color: rgb(192, 192, 192);
  border-bottom: 8px solid rgb(146, 146, 146);
  margin-top: 12px;
}

#equals {
  background-color: #2196f3;
  color: #fff;
  border-bottom: 10px solid #197fd3;
}

#equals:hover {
  background-color: #4aabfa;
  border-bottom: 8px solid #197fd3;
  margin-top: 12px;
}
@media screen and (max-width:952px) {
  span {
    padding: 30px 5px 30px 5px;
    font-size: x-large;
    margin: 5px;
    max-width: 120px;
  }
  span:hover {
    background-color: rgb(175, 175, 175);
    border-bottom: 10px solid rgb(146, 146, 146);
    margin-top: 5px;
  }
  span:active {
    background-color: rgb(192, 192, 192);
    border-bottom: 8px solid rgb(146, 146, 146);
    margin-top: 6px;
  }
  #equals {
    background-color: #2196f3;
    color: #fff;
    border-bottom: 10px solid #197fd3;
  }

  #equals:hover {
    background-color: #4aabfa;
    border-bottom: 8px solid #197fd3;
    margin-top: 6px;
  }
}
